@charset "utf-8";

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}

input {
  outline: none;
}

#post-set {
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #222; */
}

#post-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 70px;
}

.conversion {
  width: 46px;
  height: 54px;
  background-color: #fff;
  position: absolute;
  top: 300px;
  left: 950px;
}

.conversion span {
  font-size: 15px;
  line-height: 22.5px;
  color: #6b7280;
}

/* .fix{
    width: 100%;
    height: 50%;
    margin: 0;
    text-align: center;
    border: 1px solid #6B7280;
    background-color: #fff;
    cursor: pointer;
}

.del {
    width: 100%;
    height: 50%;
    margin: 0;
    text-align: center;
    border: 1px solid #6B7280;
    background-color: #fff;
    cursor: pointer;
} */

main {
  margin-top: 50px;
}

#post-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#post-feature::after {
  content: "";
  display: block;
  width: 99%;
  height: 1px;
  background-color: #ccc;
  margin: 5px 0 0 10px;
  position: absolute;
  bottom: -10px; /* Adjust to position the line properly */
  left: 49%;
  transform: translateX(-50%);
}

#add {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

#add-button {
  width: 34px;
  height: 34px;
  background-color: #00000014;
  border-radius: 100%;
  font-size: 50px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

#add span {
  margin-left: 10px;
  font-size: 20px;
}

#post-sort {
  border: 1px solid whitesmoke !important;
  border-radius: 10px;
}

#order {
  width: 75px;
  height: 35px;
  text-align: center;
  border: 1px solid #fff !important;
  background-color: white !important;
  box-sizing: border-box;
  /* outline: none; */
}

#post-list {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  margin-top: 20px;
}

.post {
  display: flex;
  width: 100%;
  height: 170px;
  margin: 10px 0;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
}

.post::after {
  content: "";
  display: block;
  width: 99%;
  height: 1px;
  background-color: #ccc;
  margin: 5px 0 0 10px;
  position: absolute;
  bottom: -10px; /* Adjust to position the line properly */
  left: 49%;
  transform: translateX(-50%);
}

.posting {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
  justify-content: space-around;
}

.post-user-info {
  display: flex;
}

.post-profile {
  width: 50px;
  height: 40px;
  background-image: url("../img/user_img.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.post-user-info span {
  margin: auto 10px;
}
.create_date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.404);
}

.post-content h2 {
  margin-bottom: 10px;
  margin-left: 8px;
}
.post-content span {
  margin-left: 10px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 게시글 작성한 사용자 이미지 */
.post-image {
  border: 1px solid #222;
  width: 140px;
  height: 139px;
  border-radius: 5%;
  /* background-image: url("../img/post_img.png"); */
}
/* 게시글에 올라간 사진 이미지 */
.post_img {
  width: 180px;
  height: 150px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 5px;
}
.recommend_category {
  margin-bottom: 20px;
}

.category_button {
  width: 340px;
  height: 180px;
}
.event {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 0;
}

.post-topic {
  display: flex;
  margin-left: 9px;
}

.post-topic div {
  width: 52px;
  height: 24px;
  text-align: center;
  /* margin-right: 15px; */
  font-size: 12px;
}

.topic {
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background: #f2f2f2;
  border: none;
  z-index: 96;
  border-radius: 10px;
  color: #757575;
}
.region {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
}
.scale {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
}
.post-popularity {
  display: flex;
  /* border: 1px solid #222; */
}

.popularity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.post-popularity span {
  font-size: 15px;
  color: #757575;
}

.heart {
  width: 20px;
  height: 20px;
  background-image: url("heart.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.comment-icon {
  width: 20px;
  height: 20px;
  background-image: url("comment.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
}

.option {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  background-image: url("dot.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* features */

#features {
  width: 40%;
  border: 1px solid #222;
}

#feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  width: 331px;
  height: 31px;
  border: 1px solid #53525280;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
}

.search-box {
  border: none;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  margin-left: 15px;
}

#search-icon {
  width: 20px;
  height: 17px;
  background-image: url("search.png");
  background-size: contain;
  /* border: 1px solid #222; */
  cursor: pointer;
  margin: 0 10px;
}

#feature-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

#feature-topic p {
  justify-content: left;
}

.topic-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
}

.topic-line {
  display: flex;
  width: 100%;
}

.topic-line .topic {
  margin: 10px;
  text-align: center;
  font-size: 14px;
}
