@charset "utf-8";

/* content 부분 */
main {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 8px 0;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}

.signup-pw {
  position: relative;
  top: 10px;
}

.signup-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.signup-field {
  display: flex;
  width: 404px;
  height: 35px;
}

.signup-field-input {
  flex: 1;
  padding: 5px 0px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  width: 100px;
  height: 35px;
  outline: none;
}

.signup-id-find {
  margin-left: 283px;
  font-size: 12px;
  color: #1a73e8;
  cursor: pointer;
}

.signup-pw-find {
  margin-left: 256px;
  font-size: 12px;
  color: #1a73e8;
}

.signup-login-btn {
  width: 394px;
  height: 35px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  background-color: #1a73e8;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup-social {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.signup-social-btn {
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  margin: 0 7px;
  font-weight: bold;
}

.signup-social-image {
  width: 60px;
  height: 48px;
  border-radius: 10px;
}

.signup-account {
  font-size: 14px;
  margin-top: 35px;
  margin-left: 80px;
  position: relative;
}
.signup-join {
  margin-left: 20px;
  color: #1a73e8;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
