/* content 부분 */
.content {
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: 180px 1fr;
}

.nav {
  display: flex;
  flex-direction: column;
}

.my_button {
  margin-top: 165px;
}

.selector {
  width: 110px;
  height: 30px;
  position: relative;
}

.selector::after {
  content: "";
  display: block;
  width: 87%;
  height: 2px;
  background-color: #ccc;
  margin: 5px 0 0 10px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

#text1,
#text2,
#text3,
#text4,
#text5,
#text6 {
  font-size: 14px;
  margin: 5px;
  padding: 5px;
}

.page_title {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 150px 1fr;
}

.history {
  position: relative;
  width: 1250px;
  height: 100%;
}

.history::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  color: #5d5a88;
  margin: 0;
  margin-left: 1050px;
}

.gubunseon::after {
  content: "|";
  color: #ccc;
  margin: 0 5px 0 5px;
  font-weight: lighter;
}

#gubunseon_text1,
#gubunseon_text2,
#gubunseon_text3 {
  font-size: 24px;
  font-weight: bolder;
  margin-top: 28px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
}

#gubunseon_text2,
#gubunseon_text3 {
  font-weight: lighter;
}

.my_group_cham_yeo {
  width: 1250px;
  height: 100%;
  display: grid;
  grid-template-rows: 95px 1fr;
}

.search_box_and_sort {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.search_box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
  margin-left: 890px;
}

#search_input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
}

.search_icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

#sort {
  width: 75px;
  height: 37px;
  font-size: 14px;
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff !important;
  text-align: center;
  font-weight: lighter;
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.group_container {
  width: 880px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

#modify_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 27px;
  margin: 5px;
}

#my_comment {
  width: 400px;
  font-weight: bold;
  margin-top: 15px;
  position: absolute;
  top: 10px;
  right: 430px;
}
#post_title {
  width: 400px;
  position: absolute;
  top: 100px;
  right: 430px;
  margin-top: 15px;
  box-sizing: border-box;
}
#post_img {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 25%;
  height: 80%;
  box-sizing: border-box;
}
#post_time {
  position: absolute;
  top: 170px;
  left: 45px;
}