@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1536px;
  height: 1865px;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  overflow-x: auto;
}

/* 헤더 부분 */
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 150px;
}

.header--ci {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--ci__text {
  grid-column: 2 / 3;
  justify-self: start;

  font-size: 48px;
  font-weight: bold;
  color: #5d5a88;
  margin-left: 20px;
}

.header--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5d5a88;
}

.header--checkin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--checkin__join {
  grid-column: 1 / 2;
  justify-self: end;

  border: 0.5px solid rgba(0, 0, 0, 0.103);
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
}
.header--checkin__login {
  grid-column: 2 / 3;
  justify-self: start;

  margin: 10px;
  padding: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.103);
  border-radius: 10px;
  background-color: #1a73e8;
  color: #fff;
  font-weight: bold;
}

/* content 부분 */

/* 캐러셀 */
.main {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.main--carousel {
  display: flex;
  justify-content: center;
}

.main--carousel_box {
  position: relative;
  width: 1300px;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  z-index: 100;
  font-size: 2em;
  padding: 10px;
  background-color: #ddd;
  color: #222;
  opacity: 0.4;
}

/* 필터 */
.main--filter {
  display: grid;
  grid-template-rows: 100px 40px 4fr;
}
.main--filter__list {
  display: flex;
  align-items: center;
  margin-left: 37px;
  justify-content: space-evenly;
}
.main--filter__list_select {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid whitesmoke;
}
/* .main--filter__list__exercise {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid whitesmoke;
}

.main--filter__list__location {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
  background-color: #fff;
  border: 1px solid whitesmoke;
}
.main--filter__list__date {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
  background-color: #fff;
  border: 1px solid whitesmoke;
}
.main--filter__list__time {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
  background-color: #fff;
  border: 1px solid whitesmoke;
} */

/* 검색창 */
.main--filter__searchbox {
  display: flex;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
  height: 48px;
  margin-right: 35px;
}
.main--filter__searchbox_input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
}
.main--filter__searchbox_icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}
/* 정렬순 블럭 */
.main--filter__sort {
  display: flex;
  justify-content: flex-end;
  margin-right: 110px;
}
.main--filter__sort_list {
  width: 110px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid whitesmoke;
  box-sizing: border-box;
}

/* 생성 모임 영역 */
.main--group {
  display: flex;
  margin-top: 10px;
}
.main--group__container {
  width: 360px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 114px;
}

.main--group__user-info {
  display: flex;
  align-items: center;
  margin: 29px 0 0 20px;
}
.main--group__user-info_img {
  width: 50px;
  height: 40px;
  margin-left: 10px;
}
.main--group__user-info_icon {
  width: 20px;
  height: 20px;
  margin-left: 173px;
}

.main--group__details {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}
.main--group__details_title {
  font-size: 28px;
  font-weight: bold;
  color: #5d5a88;
}

.main--group__date {
  font-size: 18px;
  color: #9795b5;
  margin-left: 218px;
  margin-top: 20px;
  padding: 5px;
}
.main--group__time {
  font-size: 18px;
  color: #9795b5;
  margin-left: 252px;
  padding: 5px;
}

.main--group__status {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.main--group__status_heart {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}
.main--group__status_size {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 5px;
}
.main--group__status_location {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 5px;
}
.main--group__status_cancel {
  padding: 11px 17px;
  border: none;
  border-radius: 10px;
  background-color: #1a73e8;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 58px;
  height: 38px;
}

/* footer 부분 */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer--ci {
  display: flex;
  flex-direction: column;
}

.footer--ci__name {
  margin: 0px;
  font-size: 42px;
  font-weight: bold;
  color: #5d5a88;
}
.footer--ci__desc {
  margin: 0;
  font-size: 18px;
  color: #5d5a88;
}

.footer--sitemap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sitemap__group01,
.sitemap__group02 {
  display: inline-block;
}
.sitemap__group01 {
  margin-right: 20px;
}

.sitemap__group01 .home,
.sitemap__group02 .activity,
.sitemap__group03 .mypage {
  font-size: 20px;
  color: #5d5a88;
  font-weight: bold;
  margin-right: 10px;
}
.sitemap__group01 .home_list,
.sitemap__group02 .activity_list,
.sitemap__group03 .mypage_list {
  font-size: 18px;
  font-weight: lighter;
  color: #9795b5;
}

.sitemap__group01 span:nth-child(3)::before,
.sitemap__group02 span:nth-child(n + 3)::before,
.sitemap__group03 span:nth-child(n + 3)::before {
  content: " | ";
  color: #888;
}

@media (max-width: 1280px) {
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
    height: 100%;
    grid-template-rows: 120px 1fr 120px;
  }

  .header {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .icon_text {
    font-size: 36px;
  }

  .join,
  .login {
    padding: 5px;
    font-size: 14px;
  }
}
