@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1536px;
  height: 100vh;
  display: grid;

  grid-template-rows: 150px 1fr 150px;
  overflow-x: auto;
}

/* 헤더 부분 */
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 150px;
}

.icon_table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_text {
  grid-column: 2 / 3;
  justify-self: start;

  font-size: 48px;
  font-weight: bold;
  color: #5d5a88;
}

.text_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5d5a88;
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_button img {
  width: 47px;
  height: 45px;
}

/* content 부분 */
.content {
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: 180px 1fr;
}

.nav {
  display: flex;
  flex-direction: column;
}

.my_button {
  margin-top: 165px;
}
.selector {
  width: 110px;
  height: 30px;
  position: relative;
}
.selector::after {
  content: "";
  display: block;
  width: 87%;
  height: 2px;
  background-color: #ccc;
  margin: 5px 0 0 10px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
#text1,
#text2,
#text3,
#text4,
#text5,
#text6 {
  font-size: 14px;
  margin: 5px;
  padding: 5px;
}

.my_post {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 150px 1fr;
}
.history {
  position: relative;
  width: 100%;
  height: 100%;
}
.history::after {
  content: "";
  display: block;
  width: 92%;
  height: 2px;
  background-color: #ccc;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  color: #5d5a88;
  margin: 0;
  margin-left: 890px;
}
.gubunseon::after {
  content: "|";
  color: #ccc;
  margin: 0 5px 0 5px;
}

#gubunseon_text1,
#gubunseon_text2,
#gubunseon_text3 {
  font-size: 24px;
  font-weight: bolder;
  margin-top: 28px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
}
#gubunseon_text1,
#gubunseon_text2 {
  font-weight: lighter;
}


.search_box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
  margin-left: 850px;
  margin-top: 20px;
}
#search_input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
}
.search_icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

#sort {
  width: 75px;
  height: 37px;
  font-size: 14px;
  margin-left: 1125px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-weight: lighter;
}

.group_container {
  width: 344px;
  height: 456px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
}

.sujeong_delete_icon {
  display: flex;
  justify-content: end;
}
.sujeong_delete_icon img {
  width: 50px;
  height: 45px;
  margin-right: 20px;
}

.post_img {
  display: flex;
  justify-content: center;
}
.post_img img {
  width: 263px;
  height: 222px;
  border-radius: 10px;
}

.heart_comment_icon {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

#icon_img {
  width: 20px;
  height: 25px;
  margin: 5px;
}
.heart_comment_icon span {
  margin: 7px;
}

.post_title {
  display: flex;
  justify-content: center;
}
#post_title {
  font-size: 20px;
  font-weight: bold;
  color: #5D5A88;
  margin: 10px 0;
}

.post_text {
  display: flex;
  justify-content: center;
}
#post_text {
  font-size: 18px;
  color: #9795B5;
}
/* 푸터 부분 */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.company_name {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0px;
  font-size: 42px;
  font-weight: bold;
  color: #5d5a88;
}
.desc {
  margin: 0;
  font-size: 18px;
  color: #5d5a88;
}

.side_map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side_map .group1,
.side_map .group2 {
  display: inline-block;
}
.group1 {
  margin-right: 20px;
}

.side_map .group1 .home,
.side_map .group2 .activity,
.side_map .group3 .mypage {
  font-size: 20px;
  color: #5d5a88;
  font-weight: bold;
  margin-right: 10px;
}
.side_map .group1 .home_list,
.side_map .group2 .activity_list,
.side_map .group3 .mypage_list {
  font-size: 18px;
  font-weight: lighter;
  color: #9795b5;
}

.side_map .group1 span:nth-child(3)::before,
.side_map .group2 span:nth-child(n + 3)::before,
.side_map .group3 span:nth-child(n + 3)::before {
  content: " | ";
  color: #888;
}
