@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1536px;
  height: 100vh;
  display: grid;

  grid-template-rows: 150px 1fr 150px;
  overflow-x: auto;
}

/* 헤더 부분 */
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 150px;
}

.icon_table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_text {
  grid-column: 2 / 3;
  justify-self: start;

  font-size: 48px;
  font-weight: bold;
  color: #5d5a88;
}

.text_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5d5a88;
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_button img {
  width: 47px;
  height: 45px;
}

/* content 부분 */
.content {
  width: 100%;
  height: 1800px;
  display: grid;
  grid-template-rows: 1fr 1000px;
}
.text_and_benefit {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 850px;
}
.text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership_text {
  width: 400px;
  height: 200px;
}
.membership_text::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
}
#i-fit_text {
  font-size: 68px;
  font-weight: bold;
  color: #5d5a88;
  margin: 245px 0px 30px 0px;
}
#rank_text {
  margin-right: 45px;
  margin-top: 255px;
}

#rank_text span {
  font-size: 32px;
  font-weight: bold;
  color: #5d5a88;
  padding: 20px;
}
.benefit {
  position: relative;
}
#benefit1 {
  width: 387px;
  height: 362px;
  /* border: 1px solid black; */

  position: absolute;
  top: 45px;
  left: 0px;
}
.circle_plan_1 {
  position: absolute;
  top: 20%;
  left: 31%;
  font-size: 44px;
  font-weight: bold;
  color: #1e285f;
}
.circle_plan_2 {
  position: absolute;
  top: 42%;
  left: 17%;
  font-size: 22px;
  font-weight: bold;
  color: #5d5a88;
}
.circle_plan_3 {
  position: absolute;
  top: 55%;
  left: 15%;
  color: #9795b5;
}
#benefit2 {
  width: 387px;
  height: 362px;
  /* border: 1px solid black; */

  position: absolute;
  top: 170px;
  left: 400px;
}
.circle_coupon_1 {
  position: absolute;
  top: 20%;
  left: 31%;
  font-size: 44px;
  font-weight: bold;
  color: #1e285f;
}
.circle_coupon_2 {
  position: absolute;
  top: 42%;
  left: 2%;
  font-size: 22px;
  font-weight: bold;
  color: #5d5a88;
}
.circle_coupon_3 {
  position: absolute;
  top: 55%;
  left: 23%;
  color: #9795b5;
}
#benefit3 {
  width: 387px;
  height: 362px;
  /* border: 1px solid black; */

  position: absolute;
  top: 435px;
  left: 75px;
}
.circle_service_1 {
  position: absolute;
  top: 20%;
  left: 31%;
  font-size: 44px;
  font-weight: bold;
  color: #1e285f;
}
.circle_service_2 {
  position: absolute;
  top: 42%;
  left: 7%;
  font-size: 22px;
  font-weight: bold;
  color: #5d5a88;
}
.circle_service_3 {
  position: absolute;
  top: 55%;
  left: 17%;
  color: #9795b5;
}
.circle {
  width: 387px;
  height: 362px;
  display: block;
  position: relative;
}

.membership {
  display: flex;
  justify-content: center;

  position: relative;
}
.hannun_e_text {
  font-size: 56px;
  font-weight: bold;
  color: #5d5a88;
  height: 200px;

  margin-top: 120px;
}
.membership_box1 {
  width: 387px;
  height: 671px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 220px;
  left: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* padding: 5px; */
}
.membership_box1 img {
  width: 86px;
  height: 80px;
  margin-top: 120px;
}
.price {
  font-size: 44px;
  font-weight: bold;
  color: #5d5a88;
  margin-top: 40px;
}
.rank {
  font-size: 20px;
  font-weight: bold;
  color: #8d8ba7;
}
.hyetaeg_text {
  font-size: 18px;
  color: #9795b5;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
}
.hyetaeg_badda {
  width: 320px;
  height: 90px;
  border: none;
  background-color: #1a73e8;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  margin-top: 40px;
}

.membership_box2 {
  width: 387px;
  height: 671px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 220px;
  left: 575px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership_box2 img {
  width: 86px;
  height: 80px;
  margin-top: 120px;
}

.membership_box3 {
  width: 387px;
  height: 671px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 220px;
  left: 1005px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership_box3 img {
  width: 86px;
  height: 80px;
  margin-top: 120px;
}

/* 푸터 부분 */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.company_name {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0px;
  font-size: 42px;
  font-weight: bold;
  color: #5d5a88;
}
.desc {
  margin: 0;
  font-size: 18px;
  color: #5d5a88;
}

.side_map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side_map .group1,
.side_map .group2 {
  display: inline-block;
}
.group1 {
  margin-right: 20px;
}

.side_map .group1 .home,
.side_map .group2 .activity,
.side_map .group3 .mypage {
  font-size: 20px;
  color: #5d5a88;
  font-weight: bold;
  margin-right: 10px;
}
.side_map .group1 .home_list,
.side_map .group2 .activity_list,
.side_map .group3 .mypage_list {
  font-size: 18px;
  font-weight: lighter;
  color: #9795b5;
}

.side_map .group1 span:nth-child(3)::before,
.side_map .group2 span:nth-child(n + 3)::before,
.side_map .group3 span:nth-child(n + 3)::before {
  content: " | ";
  color: #888;
}
