@charset "utf-8";

.container {
  height: 2200px;
}

/* content 부분 */
.content {
  display: grid;
  grid-template-rows: 700px 1fr;
}

.container01 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tos01 {
  width: 1100px;
  height: 600px;
  margin-top: 28px;
}

#tos-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#optional-tos-title {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tos-detail {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.optional-tos-detail {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
}

.container02 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tos02 {
  width: 1100px;
  height: 100%;
  position: relative;
}

#agree {
  margin-top: 25px;
}

.cancel-btn {
  position: absolute;
  top: 890px;
  left: 730px;
  width: 170px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.agree-btn {
  position: absolute;
  top: 890px;
  left: 930px;
  width: 170px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 4px;
}