@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.body {
    display: grid;
    grid-template-columns: 200px auto;
}

nav {
    display: flex;
    width: 150px;
    /* justify-content: center;
    align-items: center; */
}

.nav-list {
    font-family: Poppins, var(--default-font-family);
    flex-direction: column;
    position: relative;
    width: 100%;
    top: 100px;
}

.nav-join {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* align-items: center; */
    margin: 5px 5px 15px 15px;
}

.nav-membership {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* align-items: center; */
    margin: 15px;
}
.nav-membership div {
    flex-direction: column;
}

.nav-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* align-items: center; */
    margin: 15px;
}

.nav-class {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* align-items: center; */
    margin: 15px;
}

.nav-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin: 15px;
}

.nav-list p {
    margin: 5px;
    font-size: 14px;
}

.nav-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    margin: 5px;
}

