@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  align-items: center;
  height: 122.74px;
  max-width: 1536px;
}

.logged-in {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100vw;
  height: 122.73px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  top: 31px;
  left: 83px;
  flex-wrap: nowrap;
}

.i-fit-icon {
  width: 64.444px;
  /* top: 31px; */
  margin-left: 5%;
  height: 64.444px;
  background: url(./assets/images/9d9bf3d5dbb77e37ede038edf48a729934c27e89.png) no-repeat center;
  background-size: cover;
}

.i-fit {
  margin-left: 10px;
  color: #5d5a88;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 53.04px;
  flex-wrap: nowrap;
  /* top: 30.51%;
  left: 10.61%; */
}

.main-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* .menu {
  display: flex;
  width: 100px;
  color: #5d5988;
  font-family: DM Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
} */

.main-menu span {
  display: flex;
  color: #5d5988;
  font-family: DM Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: auto 15px;
}

.profile {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 400px;
}

.profile-image {
  width: 49px;
  height: 49px; /* height를 profile-image에 맞게 수정 */
  border-radius: 50%; /* 둥근 모서리 */
  background: url(./assets/images/121d8aba255f26aee2575f9d1ebf837fdf3a2b20.png) no-repeat center;
  background-size: cover;
}

.welcome-message {
  margin-left: 10px;
  color: #5d5988;
  font-family: DM Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
}