@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1536px;
  height: 100vh;
  display: grid;

  grid-template-rows: 150px 1fr 150px;
  overflow-x: auto;
}

/* 헤더 부분 */
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 150px;
}

.icon_table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_text {
  grid-column: 2 / 3;
  justify-self: start;

  font-size: 48px;
  font-weight: bold;
  color: #5d5a88;
  margin-left: 20px;
}

.text_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5d5a88;
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_button img {
  width: 47px;
  height: 45px;
}

/* content 부분 */
.content {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}
.create_group_container {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 360px;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  width: 708px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 30px;
  box-sizing: border-box;
}
.title::placeholder {
  font-size: smaller;
}

.group_explain {
  width: 708px;
  height: 400px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 10px;
}
.group_explain::placeholder {
  font-size: smaller;
}

.group_explain_container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  margin-top: 40px;
}
.choose_category {
  display: flex;
  flex-direction: row;
}
.category1 {
  width: 58px;
  height: 24px;
  font-size: 13px;
  border-radius: 10px;
  background-color: #f2f2f2;
  text-align: center;
}
.choose_category p {
  margin: 5px;
  font-weight: lighter;
  font-size: 13px;
}

.category {
  display: flex;
  flex-direction: column;
  position: relative;
}
.category::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  left: -30px;
  background-color: whitesmoke;
}

.category_text {
  text-align: start;
  margin-top: 30px;
  margin-bottom: 10px;
}
.category_button {
  width: 340px;
  height: 130px;
}
.event {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 4px;
  padding: 0;
}

.block {
  display: flex;
  margin: 5px 0 15px 0;
  align-items: center;
  height: 35px;
}
p {
  margin: 10px 0 10px 0;
}
.Choose_text {
  margin-bottom: 10px;
}
.block_input {
  width: 250px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}
input::placeholder {
  font-size: small;
}
.block_button {
  width: 55px;
  height: 35px;
  margin-left: 7px;
  border: none;
  background-color: #1a73e8;
  color: white;
  border-radius: 10px;
}
.date_time {
  display: flex;
  margin: 5px 0 15px 0;
}
.date {
  width: 160px;
  height: 35px;
  font-size: 13.3333px !important;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  font-weight: lighter !important;
}

.calendar {
  margin-right: 7px;
}
.time {
  width: 80px;
  height: 35px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 13.3333px;
}
.register {
  margin-top: 115px;
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #1a73e8;
  color: white;
  font-size: 20px;
}

/* 푸터 부분 */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.company_name {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0px;
  font-size: 42px;
  font-weight: bold;
  color: #5d5a88;
}
.desc {
  margin: 0;
  font-size: 18px;
  color: #5d5a88;
}

.side_map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side_map .group1,
.side_map .group2 {
  display: inline-block;
}
.group1 {
  margin-right: 20px;
}

.side_map .group1 .home,
.side_map .group2 .activity,
.side_map .group3 .mypage {
  font-size: 20px;
  color: #5d5a88;
  font-weight: bold;
  margin-right: 10px;
}
.side_map .group1 .home_list,
.side_map .group2 .activity_list,
.side_map .group3 .mypage_list {
  font-size: 18px;
  font-weight: lighter;
  color: #9795b5;
}

.side_map .group1 span:nth-child(3)::before,
.side_map .group2 span:nth-child(n + 3)::before,
.side_map .group3 span:nth-child(n + 3)::before {
  content: " | ";
  color: #888;
}
